@model ComicBook.Models.ComicBooks[]
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(@item.DisplayText, "Detail", new { id = @item.ID })</h4>
            <a href="@Url.Action("Detail", "ComicBooks", new {id = item.ID})">
                <img src="/Images/@item.CoverImageFileName"
                     alt="@item.DisplayText" class="img-responsive" />
            </a>
        </div>
    }
</div>